.Card {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 328px;
    border-radius: 10px;
    margin-bottom: 31px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.Card-Image {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(201, 149, 149);
    width: 295px;
    height: 229px;
    overflow: hidden;
}

.Card-Image-Img {
    margin-left: -55px;
    z-index: 1;
}

.Card-Image-Data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background: linear-gradient(0.25deg, #000000b4 10.96%, rgba(0, 0, 0, 0.267) 35.16%);
    width: 295px;
    height: 229px;
    top: 0;
    color: #ffffff;
}

.Card-Image-Data-Header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Card-Image-Data-Header-A {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-top: 21px;
}

.Card-Image-Data-Header-B {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    padding-top: 2px;
}
.Card-Image-Data-Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}
.Card-Image-Data-Footer-Name {
    font-size: 18px;
    font-weight: 600;
}
.Card-Image-Data-Footer-Address {
    font-size: 14px;
    font-weight: 400;
}
.Card-State-Iniciado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4ec84c;
    width: 80px;
    height: 18px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
}
.Card-State-NoIniciado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efb500;
    color: #333333;
    width: 80px;
    height: 18px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
}
.Card-State-Detenido {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb8631;
    color: #333333;
    width: 80px;
    height: 18px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
}
.Card-State-Finalizado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    width: 80px;
    height: 18px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
}
.Card-Star {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}
.Card-Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99px;
    width: 100%;
}
.Card-Description-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    width: 85%;
    padding-bottom: 9px;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
}
.Card-Description-Footer {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 4px;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
}
.Card-Description-Data {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card-Description-Data-Img {
    padding-right: 5px;
}
